{% extends "base_login.html" %}

{% block contenido %}

TÉRMINOS Y CONDICIONES GENERALES DE USO DEL SITIO

Los presentes Términos y Condiciones Generales de Uso (en adelante, los “Términos y Condiciones”) regulan el acceso y utilización, por parte del Usuario (conforme se define más adelante), de la página web www.juntandonos.com (en adelante, “la Página Web” o “Ideame”), así como la contratación de productos y servicios a través de la misma.

<a href="{% url 'tipo_proyecto' %}">He aceptado los términos y condiciones</a>
{% endblock %}
