{% extends "base_login.html" %}

<h1>MIS PROYECTOS</h1>

{% block contenido %}
    <a href="{% url 'terminos_condiciones' %}">Nuevo Proyecto</a>

    <table>
    	<tr>
	    	<td>
	    		ID
	    	</td>
	    	<td>
	    		titulo
	    	</td>
	    	<td>
	    		Creador
	    	</td>
	    	<td>
	    		Fecha de inicio
	    	</td>
	    	<td>
	    		Duracion
	    	</td>
	    	<td>
	    		Mas Datos
	    	</td>
	    </tr>
    {% for proyecto in mis_proyectos %}
        <tr>
        	<td>
        		{{ proyecto.get_proyecto.id }}
        	</td>
        	<td>
        		{{ proyecto.get_proyecto.titulo }}
        	</td>
        	<td>
        		{{ proyecto.get_proyecto.creador }}
        	</td>
        	<td>
        		{{ proyecto.get_proyecto.fecha_creacion }}
        	</td>
        	<td>
        		{{ proyecto.get_proyecto.duracion }}
        	</td>
        	<td>
        		<a href="{% url 'ver_proyecto' proyecto.get_proyecto.id %}">Nuevo Proyecto</a>
        	</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
