{% extends "base.html" %}
{% load static %}
{% block contenido %}
    <form id="f_pago" action="{% url 'pago' %}" method="post" class="w70 auto_margin pago_form">
        {% csrf_token %} 
        <div>
            <label for="nombre">Nombre:</label>
            <input id="nombre" name="nombre" type="text" value="" />
            <span></span>
        </div>
        <div>
            <label for="email">Mail:</label>
            <input id="email" name="email" type="text" value="" />
            <span></span>
        </div>
        <div>
            <label for="clp">Monto:</label>
            <input id="clp" onchange="getElementById('monto').value=Math.ceil(cambio*this.value)" type="text" name="clp">
            <label for="monto">USD:</label>
            <input id="monto" name="monto" type="text" value="" readonly/>
            <span></span>
        </div>
        <div>
            <label for="mensaje">Mensaje al creador:</label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
            <span></span>
        </div>

        <p>OPCIONES DE PAGO</p>

        <div class="iblock2">
            <input id="tipo_pago_credito" name="tipo_pago" type="radio" value="1" />
            <img src="{% static 'images/credit.png' %}">
            <span></span>
            <input type="submit" value="SIGUIENTE" />
        </div>
        <div class="iblock2">
            <input id="tipo_pago_paypal" name="tipo_pago" type="radio" value="2" />
            <img src="{% static 'images/paypal.png' %}">
            <span></span>
            <input type="submit" value="SIGUIENTE"/>
        </div>
    </form>
{% endblock %}

{% block js %}
<script src="{% static 'js/controllers/pago_controller.js' %}"></script>
<script>
    App.pagoController = new App.Controllers.Pago();
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
<script type="text/javascript">

var your_url = 'https://www.google.com/finance/converter?a=1&from=CLP&to=USD';
var cambio=0;
//basado en codigo de http://stackoverflow.com/questions/11708387/get-contents-of-link-tag-with-javascript-not-css/18447625#18447625
// jquery.xdomainajax.js  ------ from padolsey
jQuery.ajax = (function(_ajax){

    var protocol = location.protocol,
        hostname = location.hostname,
        exRegex = RegExp(protocol + '//' + hostname),
        YQL = 'http' + (/^https/.test(protocol)?'s':'') + '://query.yahooapis.com/v1/public/yql?callback=?',
        query = 'select * from html where url="{URL}" and xpath="*"';

    function isExternal(url) {
        return !exRegex.test(url) && /:\/\//.test(url);
    }

    return function(o) {

        var url = o.url;

        if ( /get/i.test(o.type) && !/json/i.test(o.dataType) && isExternal(url) ) {

            // Manipulate options so that JSONP-x request is made to YQL

            o.url = YQL;
            o.dataType = 'json';

            o.data = {
                q: query.replace(
                    '{URL}',
                    url + (o.data ?
                        (/\?/.test(url) ? '&' : '?') + jQuery.param(o.data)
                    : '')
                ),
                format: 'xml'
            };

            // Since it's a JSONP request
            // complete === success
            if (!o.success && o.complete) {
                o.success = o.complete;
                delete o.complete;
            }

            o.success = (function(_success){
                return function(data) {

                    if (_success) {
                        // Fake XHR callback.
                        _success.call(this, {
                            responseText: data.results[0]
                                // YQL screws with <script>s
                                // Get rid of them
                                .replace(/<script[^>]+?\/>|<script(.|\s)*?\/script>/gi, '')
                        }, 'success');
                    }

                };
            })(o.success);

        }

        return _ajax.apply(this, arguments);

    };

})(jQuery.ajax);


$.ajax({
    url: your_url,
    type: 'GET',
    success: function(res) {
        cambio = res.responseText.split('<span class="bld">')[1].split('</span>')[0].split(' ')[0];
    }
});
</script>

{% endblock %}
