{% extends "base.html" %}
{% load static %}
{% block contenido %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <p>Estamos redireccionando a Paypal.</p>
    <p>Si su navegador no lo redirecciona, haz click en el boton</p>
    <p>
  <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="RTPDUMA6PHAD6">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1"></p>
    </p>
</form>

{% endblock %}