@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
body{font-family:'Karla',sans-serif;font-size:16px;margin:auto;max-width:1200px}
header #logo{width:15%}
header aside.iblock{background:#efefef;border-radius:0 0 10px 10px;color:#00b9d1;font-size:1.3em;height:80px;line-height:80px;text-align:center;width:20%}
header #f_login label{display:inline-block;width:90px}
header #registro{color:#000;position:relative;text-decoration:none;top:1em;}
header #registro:before{font-family:'icomoon';content:'\e600'}
header #registro:hover{color:#ff942d}
header .btn_header{border-radius:12px;color:#fff;padding:.2em .5em;position:relative;text-decoration:none;top:1em;}
header .btn_header:hover{color:#000}
#buscador{color:#fff;}
#buscador label{font-size:2em}
#slider{height:150px}
.error_message{color:#f00}
.fondo_celeste{background:#00b9d1}
.fondo_naranjo{background:#ff942d}
.iblock{display:inline-block;vertical-align:top}
