@font-face
    font-family 'icomoon'
    src url('../fonts/icomoon.eot')
    src url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg')
    font-weight normal
    font-style normal

celeste = #00b9d1
naranjo = #ff942d
rosado = #fa006a
amarillo = #ffd800
calipso = #00aef0

/*
font-family: 'Lobster', cursive;
font-family: 'Varela Round', sans-serif;
font-family: 'Exo 2', sans-serif;
*/

body
    font-family 'Varela Round', sans-serif
    font-size 16px
    margin auto
    max-width 1200px

header
    background naranjo
    position relative
    text-align center
    border-bottom 5px solid rosado

    .titulo
        border-radius 0 0 0.4em 0.4em
        font-family 'Exo 2', sans-serif
        margin auto
        width 60%

        figure
            background url('../images/fondo_rayado.png')
            background-position 50%
            background-size 100% 100%
            img
                width 100%

    .div_inutil
        background white
        height 5px

#slider
    background-color calipso
    background-image url('../images/globo_texto.png'),url('../images/bg_slider.png')
    background-position center bottom,left top
    background-size 100%, 100%
    background-repeat no-repeat
    min-height 10em
    padding 1em

    h2, p
        text-align center

    h2
        color rosado

.buscador
    border-bottom 5px solid pink
    padding 1em
    text-align center

    .caja_busqueda
        border none
        border-radius 5px
        color rosado
        padding 0.5em

.categorias
    padding 0
    text-align center

    h2
        background-color amarillo
        color white
        margin-top 0
        position relative
        text-shadow 3px 2px 1px #555

        &:after
            content ""
            border-bottom 10px solid transparent
            border-left 10px solid white
            border-top 10px solid transparent
            position absolute
            right 0.2em
            top 0.2em

    .proyecto
        padding 0.5em
        border-radius 5px
        margin 0.5em

        figure
            figcaption
                color white
                text-align left

            img
                width 100%

.fondo_calipso
    background calipso

.fondo_celeste
    background celeste

.fondo_naranjo
    background naranjo

.fondo_rosado
    background rosado

.iblock
    box-sizing border-box
    display inline-block
    vertical-align top

.w44
    width 44%
