{% load static from staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="Lista de regalos por la life 1313 eaea sadsa qwertyuiop" />
    <title>{% block titulo %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <figure id="logo" class="iblock">
            <img src="{% static 'images/logo.jpg' %}" alt="logo juntemonos" />
        </figure>

        {% block menu %}
            <a href="#" class="btn_header iblock fondo_celeste">Tengo un evento</a>
            <a href="#" class="btn_header iblock fondo_naranjo">Quiero aportar</a>
            <a id="registro" href="{% url 'registro' %}" class="iblock">Registrarse</a>

            <form id="f_login" action="{% url "login" %}" method="post" class="iblock">
                {% csrf_token %}
                <aside>
                    <div>
                        <label for="usuario">Usuario: </label>
                        <input id="usuario" type="text" value="" placeholder="Usuario" />
                        <span></span>
                    </div>
                    <div>
                        <label for="password">Contraseña: </label>
                        <input id="password" type="password" value="" placeholder="Contraseña" />
                        <span></span>
                    </div>
                    <input id="btn_enviar" type="submit" value="Ingresar" />
                </aside>
            </form>
        {% endblock %}

        <aside class="iblock">
            ¿Qué es juntemonos?
        </aside>
    </header>

    {% block contenido %}NO SE HA SOBREESCRITO CONTENIDO{% endblock %}
    <script src="{% static 'js/vendor/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/vendor/handlebars-1.1.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/template_loader.js' %}"></script>
    <script src="{% static 'js/vendor/rlay_core.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
