@font-face
    font-family 'icomoon'
    src url('../fonts/icomoon.eot')
    src url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg')
    font-weight normal
    font-style normal

celeste = #00b9d1
naranjo = #ff942d
rosado = #fa006a
amarillo = #ffd800
calipso = #00aef0
amarillo_oscuro = #f7d000

/*
font-family: 'Lobster', cursive;
font-family: 'Varela Round', sans-serif;
font-family: 'Exo 2', sans-serif;
*/

box_style()
    box-sizing border-box
    display inline-block
    vertical-align top

limitar(ancho)
    margin auto
    max-width ancho

body
    background-color #f5f5f5
    font-family 'Varela Round', sans-serif
    font-size 16px
    margin auto
    max-width 1200px

header
    background naranjo
    border-bottom 5px solid rosado
    padding 0 0 1em
    position relative
    text-align center

    .menu
        background url('../images/barra_fondo.png') repeat-y
        border-radius 0 0 0.4em 0.4em
        box-shadow 0 0 10px #000
        font-family 'Exo 2', sans-serif
        margin auto
        padding 1em 0
        width 60%

        .logo
            box_style()
            cursor pointer

            img
                width 130px

        .menu_opciones
            display none

#contenedor_ingreso
    background-color amarillo_oscuro
    margin auto
    width 90%

    section
        margin 1em

    .contenedor
        border-radius 20px
        position relative

        &:after
            content ""
            border-left 15px solid transparent
            border-right 15px solid transparent
            border-top 15px solid white
            position absolute
            top 100%
            left calc(50% - 15px)

        div
            margin 0.5em 0

            input[type="text"],
            input[type="password"]
                border 1px solid #999
                border-radius 5px
                padding 0.5em

            input[type="submit"]
                background #1520ff
                border 0
                color white
                border-radius 5px
                padding 0.5em 1em

                &:hover
                    background #00e7fb
        h2
            color rosado
            font-family 'Lobster', sans-serif


#formulario_registro
    background-color #f9f9f9
    border 3px solid rosado
    border-radius 7px
    margin-top 2em
    padding 1em

    .fila
        label
            color #555
            display block
            font-weight bold
            min-width 160px

            span
                font-weight lighter
                color #999999

        input[type="password"],
        input[type="text"]
            border 1px solid silver
            border-radius 5px


    input[type="submit"]
        background-color rosado
        border 0
        border-radius 5px
        color white
        padding 0.2em 2em

#slider
    background-color calipso
    background-image url('../images/bg_slider.png')
    background-position left top
    background-size 100%
    background-repeat no-repeat
    min-height 10em
    padding 0.5em

    h2, p
        text-align center

    h2
        color rosado

    .globo_texto
        limitar(500px)
        background white
        border-radius 10px
        padding 1em
        position relative

        &:after
            border-left 15px solid transparent
            border-right 15px solid transparent
            border-top 15px solid white
            content ""
            left 50%
            margin-left -15px
            position absolute
            top 100%

.buscador
    border-bottom 5px solid pink
    padding 1em
    text-align center

    .caja_busqueda
        border none
        border-radius 5px
        color rosado
        padding 0.5em

.categorias
    padding 0
    text-align center

    h2
        background-color amarillo
        color white
        margin-top 0
        position relative
        text-shadow 3px 2px 1px #555

        &:after
            content ""
            border-bottom 10px solid transparent
            border-left 10px solid white
            border-top 10px solid transparent
            position absolute
            right 0.2em
            top 0.2em

    .proyecto
        padding 0.5em
        border-radius 5px
        margin 0.5em
        width 135px

        figure
            figcaption
                color white
                text-align left

            img
                width 100%

.contenedor
    background-color #f9f9f9
    border-radius 7px
    margin-top 2em
    padding 1em

.error_message
    color #D15538

.fondo_calipso
    background calipso

.fondo_celeste
    background celeste

.fondo_naranjo
    background naranjo

.fondo_rosado
    background rosado

.formulario
    margin auto
    width 60%
    .fila
        padding 0.3em

        label
            display inline-block
            min-width 140px

        select
            width 180px

.iblock
    box-sizing border-box
    display inline-block
    vertical-align top

.t_centered
    text-align center

.w44
    width 44%

.w45
    width 45%

.w49
    width 49%

@media screen and (min-width: 768px)
    header
        .menu
            width 90%
            .menu_opciones
                box_style()

                .link_aportar,.link_entrar,.link_evento,.link_registro
                    box_style()
                    text-decoration none
                    padding 0.5em

                .link_aportar, .link_evento
                    border-radius 0.5em
                    color white

                .link_entrar,.link_registro
                    color black

                .link_aportar
                    background-color rosado

                .link_evento
                    background-color calipso
