@font-face{font-family:'social';src:url("../fonts/social.eot");src:url("../fonts/social.eot?#iefix") format('embedded-opentype'),url("../fonts/social.woff") format('woff'),url("../fonts/social.ttf") format('truetype'),url("../fonts/social.svg#social") format('svg');font-weight:normal;font-style:normal}
body{background-color:#f5f5f5;font-family:'Varela Round',sans-serif;font-size:16px;margin:auto;max-width:1200px}
header{background:#ff942d;border-bottom:5px solid #fa006a;padding:0 0 1em;position:relative;text-align:center;}
header .menu{background:url("../images/barra_fondo.png") repeat-y;border-radius:0 0 .4em .4em;box-shadow:0 0 10px #000;font-family:'Exo 2',sans-serif;margin:auto;padding:1em 0;width:60%;}
header .menu .logo{box-sizing:border-box;display:inline-block;vertical-align:top;cursor:pointer;}
header .menu .logo img{width:130px}
header .menu .menu_opciones{display:none;}
header .menu .menu_opciones figure{display:inline-block;position:relative;vertical-align:top;}
header .menu .menu_opciones figure img{position:absolute;top:-10px;width:135px;z-index:1}
header .menu_navegacion li{display:inline-block;vertical-align:top;}
header .menu_navegacion li a{background-color:#fff;padding:.5em 1em;text-decoration:none}
#contenedor_ingreso{background-color:#f7d000;background-image:url("../images/background_login.png");background-size:100% 100%;margin:auto;width:90%;}
#contenedor_ingreso section{margin:1em}
#contenedor_ingreso .contenedor{border-radius:20px;position:relative;}
#contenedor_ingreso .contenedor:after{content:"";border-left:15px solid transparent;border-right:15px solid transparent;border-top:15px solid #fff;position:absolute;top:100%;left:calc(35%)}
#contenedor_ingreso .contenedor div{margin:.5em 0;}
#contenedor_ingreso .contenedor div input[type="text"],#contenedor_ingreso .contenedor div input[type="password"]{border:1px solid #999;border-radius:5px;padding:.5em}
#contenedor_ingreso .contenedor div input[type="submit"]{background:#00b9d1;border:0;color:#fff;border-radius:5px;padding:.5em 1em}
#contenedor_ingreso .contenedor h2{color:#fa006a;font-family:'Lobster',sans-serif}
#formulario_registro,#login_facebook,.login_usuario{border-radius:1em;box-sizing:border-box;display:inline-block;margin:2em 1em;padding:1em;vertical-align:top;width:25%}
#formulario_registro{border:3px solid #fa006a;text-align:left;}
#formulario_registro h3{color:#fa006a;text-align:center}
#formulario_registro .fila input[type="password"],#formulario_registro .fila input[type="text"]{border:1px solid #c0c0c0;border-radius:5px}
#formulario_registro .fila label{color:#555;display:block;font-weight:bold;min-width:160px;text-align:left}
#formulario_registro .fila p{font-weight:lighter;color:#999}
#formulario_registro .fila select{width:65px}
#formulario_registro input[type="submit"]{background-color:#fa006a;border:0;border-radius:5px;color:#fff;padding:.2em 2em}
#login_facebook{border:3px solid #ffd800;}
#login_facebook h3{color:#ffd800}
.login_usuario{border:3px solid #00b9d1;text-align:left;}
.login_usuario input[type="password"],.login_usuario input[type="text"]{border-radius:5px;width:100%}
.login_usuario input[type="submit"]{background-color:#00b9d1;border:0;border-radius:5px;color:#fff;display:block;margin:1em auto;padding:.5em 1em;text-align:center}
.login_usuario h3{color:#00b9d1}
.login_usuario label{display:block;margin:.5em 0}
.login_usuario span{display:block;}
.login_usuario span a{color:#00b9d1}
#seccion_tipo_proyecto article{color:#fff;padding:2em 1em;text-align:center}
#seccion_tipo_proyecto th:last-child{vertical-align:bottom}
#slider{background-color:#00aef0;background-image:url("../images/bg_slider.png");background-position:left top;background-size:100%;background-repeat:no-repeat;min-height:10em;padding:.5em;}
#slider h2,#slider p{text-align:center}
#slider h2{color:#fa006a}
#slider .globo_texto{margin:auto;max-width:500px;background:#fff;border-radius:10px;padding:1em;position:relative;}
#slider .globo_texto:after{border-left:15px solid transparent;border-right:15px solid transparent;border-top:15px solid #fff;content:"";left:50%;margin-left:-15px;position:absolute;top:100%}
#terminos_condiciones{border:3px solid #fa006a;border-radius:20px;margin:auto;margin-top:3em;padding:1em;width:70%;}
#terminos_condiciones h1{color:#fa006a;font-size:1.5em;text-align:center}
.btn_facebook{background:#1e62a9;border:1px solid #143f72;border-bottom-width:2px;border-radius:5px;color:#fff;cursor:pointer;display:inline-block;padding:.5em 1em;}
.btn_facebook:before{content:"\e601";font-family:'social';position:relative;right:.5em}
.btn_facebook:hover{background:#366ab2}
.buscador{border-bottom:5px solid #ffc0cb;padding:1em;text-align:center;}
.buscador .caja_busqueda{border:none;border-radius:5px;color:#fa006a;padding:.5em}
.categorias{padding:0;text-align:center;}
.categorias h2{background-color:#ffd800;color:#fff;margin-top:0;position:relative;text-shadow:3px 2px 1px #555;}
.categorias h2:after{content:"";border-bottom:10px solid transparent;border-left:10px solid #fff;border-top:10px solid transparent;position:absolute;right:.2em;top:.2em}
.categorias .proyecto{padding:.5em;border-radius:5px;margin:.5em;width:135px;}
.categorias .proyecto figure figcaption{color:#fff;text-align:left}
.categorias .proyecto figure img{width:100%}
.contenedor{background-color:#f9f9f9;border-radius:7px;margin-top:2em;padding:1em}
.descripcion_proyecto{border:3px solid #ffd700;border-radius:1em;margin:1em auto;padding:0;width:70%;}
.descripcion_proyecto legend{background:#ffd700;border-radius:7px;color:#fff;padding:.5em 1em;text-align:center;}
.descripcion_proyecto legend span:first-child,.descripcion_proyecto legend span:last-child{opacity:.7}
.descripcion_proyecto .descripcion_cabecera{bottom:1em;background:#fff;border-radius:7px 7px 0 0;padding:2em;position:relative;text-align:center;z-index:-1;}
.descripcion_proyecto .descripcion_cabecera span:first-child{color:#ffd700}
.descripcion_proyecto .descripcion_cabecera span:last-child{color:#c0c0c0}
.descripcion_proyecto .lista_productos{clear:right;}
.descripcion_proyecto .lista_productos .producto{background-color:#fff;border:2px solid #ffd700;border-radius:.5em;margin:1em 0;padding:.7em;position:relative;}
.descripcion_proyecto .lista_productos .producto input[type="text"]{border-radius:5px;display:inline-block;margin:.3em 0;width:270px}
.descripcion_proyecto .lista_productos .producto .monto{position:absolute;right:0;top:0}
.descripcion_proyecto .wrapper{background:url("../images/bg_box.png");border-radius:1em;padding:1em;}
.descripcion_proyecto .wrapper #btn_otro_producto{display:block;float:right;margin:1em 0;text-decoration:none;}
.descripcion_proyecto .wrapper #btn_otro_producto span{border:2px solid #ffd700;border-radius:50%;color:#ffd700;padding:0 5px}
.descripcion_proyecto .wrapper .btn_accion{margin:1em 0;text-align:right;}
.descripcion_proyecto .wrapper .btn_accion a{background-color:#ffd700;border-radius:5px;color:#fff;padding:.5em 1em;text-decoration:none}
.descripcion_proyecto .wrapper .calculo_precio{margin:.5em 0;text-align:right;}
.descripcion_proyecto .wrapper .calculo_precio input[type="text"]{border:1px solid #ffd700;border-radius:5px}
.descripcion_proyecto .wrapper .fila{margin:.5em 0;}
.descripcion_proyecto .wrapper .fila input[type="text"],.descripcion_proyecto .wrapper .fila textarea{border-radius:5px}
.descripcion_proyecto .wrapper .fila label{display:inline-block;width:100px}
.descripcion_proyecto .wrapper .lado_a,.descripcion_proyecto .wrapper .lado_b{display:inline-block;vertical-align:top}
.error_message{color:#d15538}
.fondo_calipso{background:#00aef0}
.fondo_celeste{background:#00b9d1}
.fondo_naranjo{background:#ff942d}
.fondo_rosado{background:#fa006a}
.fondo_punteado{background:url("../images/bg_slider.png");background-size:100%}
.fondo_rayado{background:url("../images/mainbg.png");background-size:100%}
.formulario{margin:auto;width:60%;}
.formulario .fila{padding:.3em;}
.formulario .fila label{display:inline-block;min-width:140px}
.formulario .fila select{width:180px}
.iblock{box-sizing:border-box;display:inline-block;vertical-align:top}
.marco{background-color:#fff;border:4px solid #fa006a;border-radius:10px;margin:auto;margin-top:3em;width:70%;}
.marco a{background-color:#fa006a;border-radius:5px;color:#fff;display:inline-block;margin-top:.5em;padding:.5em 1em;text-decoration:none}
.marco legend{background-color:#fa006a;border-radius:.5em;color:#fff;padding:.5em 3em;text-align:center}
.marco table thead tr{border-bottom:2px dashed #fa006a;}
.marco table thead tr th{color:#fa006a;}
.marco table thead tr th figure img{width:calc(142px)}
.sombra_caja{box-shadow:3px 3px 1px #ebebeb}
.t_centered{text-align:center}
.texto_blanco{color:#fff}
.w44{width:44%}
.w45{width:45%}
.w49{width:49%}
@media screen and (min-width: 768px){header .menu{width:90%;}
header .menu .menu_opciones{box-sizing:border-box;display:inline-block;vertical-align:top;}
header .menu .menu_opciones .link_aportar,header .menu .menu_opciones .link_entrar,header .menu .menu_opciones .link_evento,header .menu .menu_opciones .link_registro{box-sizing:border-box;display:inline-block;vertical-align:top;text-decoration:none;padding:.5em}
header .menu .menu_opciones .link_aportar,header .menu .menu_opciones .link_evento{border-radius:.5em;color:#fff}
header .menu .menu_opciones .link_entrar,header .menu .menu_opciones .link_registro{color:#000}
header .menu .menu_opciones .link_aportar{background-color:#fa006a}
header .menu .menu_opciones .link_evento{background-color:#00aef0}
}