{% extends "base_login.html" %}
{% load staticfiles %}

<h1>Nuevo proyecto</h1>

{% block contenido %}
    <h2>Paso 1</h2>
    <h3>Datos generales</h3>

    <form id="f_paso_1" action="{% url 'guardar_paso1' %}" method="post">
        {% csrf_token %}

        <div>
            <label for="titulo">Título:</label>
            <input id="titulo" name="titulo" type="text" value="" placeholder="Ingrese título" />
        </div>

        <div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" cols="30" rows="10"></textarea>
        </div>

        <div>
            <label for="video">URL Video:</label>
            <input id="video" name="video" type="text" value="" placeholder="Video" />
        </div>

        <div>
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria">
                <option value="">Seleccione...</option>
                <option value="cumple">cumpleaños</option>
                <option value="evento">evento</option>
                <option value="causa social">causa social</option>
            </select>
        </div>

        <div>
            <label for="duracion">Duración:</label>
            <select name="duracion" id="duracion">
                <option value="">Seleccione...</option>
                {% for i in dias %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>

        <h4>Productos</h4>

        <a id="btn_otro_producto" href="javascript:;">Otro producto</a>

        <section id="lista_productos">
            <article>
                <div>
                    <label for="nombre_0">Nombre: </label>
                    <input id="nombre_0" name="nombre_0" type="text" />
                </div>

                <div>
                    <label for="url_0">URL: </label>
                    <input id="url_0" name="url_0" type="text" />
                </div>

                <div>
                    <label for="descripcion_0">Descripción: </label>
                    <input id="descripcion_0" name="descripcion_0" type="text" />
                </div>
                <div>
                    <select id="tipo_moneda_0" name="tipo_moneda_0">
                        <option value="peso">Peso</option>
                        <option value="usd">USD</option>
                    </select>
                    <input id="valor_0" name="valor_0" type="text" value="" />
                </div>
            </article>
        </section>

        <div>
            <label for="total">Total:</label>
            <input id="total" name="total" type="text" value="" />
        </div>

        <div>
            <label for="con_impuesto">Con impuesto:</label>
            <input id="con_impuesto" name="con_impuesto" type="text" value="" />
        </div>

        <div>
            <input type="submit" value="Continuar" />
        </div>
    </form>
{% endblock %}
{% block js %}
<script src="{% static 'js/controllers/paso1_controller.js' %}"></script>
<script>
    App.paso1 = new App.Controllers.Paso1();
</script>
{% endblock %}
