<article>
    <div>
        <label for="nombre_{{ numero }}">Nombre: </label>
        <input id="nombre_{{ numero }}" name="nombre_{{ numero }}" type="text" />
    </div>

    <div>
        <label for="url_{{ numero }}">URL: </label>
        <input id="url_{{ numero }}" name="url_{{ numero }}" type="text" />
    </div>

    <div>
        <label for="descripcion_{{ numero }}">Descripción: </label>
        <input id="descripcion_{{ numero }}" name="descripcion_{{ numero }}" type="text" />
    </div>
    <div>
        <select id="tipo_moneda_{{ numero }}" name="tipo_moneda_{{ numero }}">
            {{{ monedas }}}
        </select>
        <input id="valor_{{ numero }}" name="valor_{{ numero }}" type="text" value="" />
    </div>
</article>
