<article class="producto">
    <div>
        <input id="nombre_{{ numero }}" name="nombre_{{ numero }}"
            type="text" placeholder="NOMBRE PRODUCTO/SERVICIO" />
    </div>

    <div>
        <input id="url_{{ numero }}" name="url_{{ numero }}"
            type="text" placeholder="URL PRODUCTO/SERVICIO" />
    </div>

    <div>
        <input id="descripcion_{{ numero }}" name="descripcion_{{ numero }}"
            type="text" placeholder="DESCRIPCION" />
    </div>

    <div class="monto">
        <select id="tipo_moneda_{{ numero }}" name="tipo_moneda_{{ numero }}">
            {{{ monedas }}}
        </select>
        <input id="valor_{{ numero }}" name="valor_{{ numero }}" type="text" value="" />
    </div>

    <div>
        <a href="javascript:;" data-accion="eliminar_producto">Eliminar</a>
    </div>
</article>
