{% extends "base.html" %}
{% load staticfiles %}

{% block contenido %}
    <div class="fondo_rosado texto_blanco t_centered" style="padding:1em">
        <p>¡Comparte tus eventos con el mundo!</p>
        <p>Estás a 2 pasos de empezar armar tu gran ocasión</p>
        <p>
            Estás a dos pasos de empezar a cumplir tu meta
        </p>
    </div>

    <section>

    <fieldset class="descripcion_proyecto">
        <legend>
            <span class="fade">Recaudación</span>
            <span><strong>Descripción</strong></span>
            <span class="fade">Confirmación</span>
        </legend>

        <article class="descripcion_cabecera">
            <span class="gold">Datos del proyecto</span>
            <img src="{% static 'images/flechita.png' %}" alt="flechita" />
            <span class="silver">Información sobre Pagos</span>
        </article>

        <section class="wrapper">
            <h3>
                <img src="{% static 'images/datosgenerales.png' %}" alt="icono de lapiz" width="32" /> Datos generales
            </h3>

            <form id="f_paso_1" action="{% url 'guardar_paso1' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="lado_a">
                    <div class="fila">
                        <label for="titulo">Título:</label>
                        <input id="titulo" name="titulo" type="text" value="" placeholder="Ingrese título" />
                    </div>

                    <div class="fila">
                        <label for="descripcion">Descripción:</label>
                        <textarea id="descripcion" name="descripcion" cols="30" rows="10"></textarea>
                    </div>

                    <div class="fila">
                        <label for="thumbnail">imagen:</label>
                        <input id="thumbnail" name="thumbnail" type="file" value="" />
                    </div>

                    <div class="fila">
                        <label for="video">Video:</label>
                        <input id="video" name="video" type="text" value="" placeholder="Video" />
                    </div>

                    <div class="fila">
                        <label for="categoria">Categoría:</label>
                        <select id="categoria" name="categoria">
                            <option value="">Seleccione...</option>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="lado_b">
                    <div>
                        <label for="duracion">Tiempo(días):</label>
                        <select name="duracion" id="duracion">
                            <option value="">Seleccione...</option>
                            {% for i in dias %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <h4>
                    <img src="{% static 'images/productos.png' %}" width="32" alt="imagen productos" />
                    Productos
                </h4>

                <a id="btn_otro_producto" href="javascript:;"> <span>+</span> Otro producto</a>

                <section id="lista_productos" class="lista_productos">
                    <article class="producto">
                        <div>
                            <input id="nombre_0" name="nombre_0" type="text"
                                placeholder="NOMBRE PRODUCTO/SERVICIO" required />
                        </div>

                        <div>
                            <input id="url_0" name="url_0" type="text" placeholder="URL PRODUCTO/SERVICIO" required />
                        </div>

                        <div>
                            <input id="descripcion_0" name="descripcion_0" type="text" placeholder="DESCRIPCION" required />
                        </div>

                        <div>
                            <input id="imagen_producto_0" name="imagen_producto_0" type="file" value="" required />
                        </div>

                        <div class="monto">
                            <select id="tipo_moneda_0" name="tipo_moneda_0" required>
                                {% for moneda in monedas %}
                                <option value="{{ moneda.id }}">{{ moneda.nombre }}</option>
                                {% endfor %}
                            </select>
                            <input id="valor_0" name="valor_0" type="text" value="" />
                        </div>
                    </article>
                </section>

                <div class="calculo_precio">
                    <label for="total">TOTAL</label>
                    <input id="total" name="total" type="text" value="" readonly />
                </div>

                <div class="calculo_precio">
                    <label for="con_impuesto">Cargo por servicio</label>
                    <input id="con_impuesto" name="con_impuesto" type="text" value="" readonly />
                </div>

                <div class="btn_accion">
                    <a href="{% url 'tipo_proyecto' %}">Atras</a>
                    <a id="btn_continuar" href="javascript:;">Continuar</a>
                </div>
            </form>
        </section>
    </fieldset>

    </section>
{% endblock %}
{% block js %}
<script src="{% static 'js/controllers/paso1_controller.js' %}"></script>
<script>
    App.paso1 = new App.Controllers.Paso1({{ cantidad_impuesto }});
</script>
{% endblock %}
