{% extends "base.html" %}

{% block contenido %}

<section id="terminos_condiciones">
    <h1>
        TÉRMINOS Y CONDICIONES GENERALES DE USO DEL SITIO
    </h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vero ipsam est distinctio provident consequuntur possimus minus et. Dolorem, minus autem libero veniam excepturi aut doloremque magnam mollitia amet itaque.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam incidunt repellendus et sint sequi at reprehenderit fugiat culpa! Mollitia, impedit ipsa vitae nulla id nemo blanditiis aliquid natus dolores animi.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, tempora quibusdam maiores facere reprehenderit iure a labore quod veritatis esse atque iusto dolor eum culpa modi dolores maxime eos sit?
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, placeat ex amet neque similique fugit eaque ipsam! Ullam, eum distinctio sit impedit cum libero molestias saepe. Sit obcaecati placeat explicabo!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, facilis, pariatur alias vel sit laudantium fuga hic iusto quis eveniet reiciendis error vero mollitia nisi quam earum aliquam iste repellendus!
    </p>

    <p class="t_centered">
        <a href="{% url 'tipo_proyecto' %}">He aceptado los términos y condiciones, me registro</a>
    </p>
</section>

{% endblock %}
