{% extends "base.html" %}
{% load static from staticfiles %}

{% block contenido %}

<section id="seccion_tipo_proyecto" class="fondo_rayado">
    <article class="fondo_celeste fondo_punteado">
        <h1>¡Tenemos opciones para todos los gustos y necesidades!</h1>
        <p>
            Elige el tipo de recaudación que mejor se ajuste a tu evento y vas a poder estar a un paso más cerca de hacer tus sueños realidad.
        </p>
    </article>

    <fieldset class="marco">
        <legend>
            <strong>Recaudación</strong>
             Descripción
            Confirmación
        </legend>
        <table>
            <thead>
                <th>CUMPLEAÑOS</th>
                <th>EVENTO</th>
                <th>BENEFICIO</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, atque, ducimus cupiditate assumenda temporibus quam eius quod doloribus perferendis sit nostrum perspiciatis tempore libero possimus laborum nemo recusandae sint. Nisi!
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, nulla eveniet quo vitae magni adipisci dolore pariatur exercitationem dolores magnam minus sint quasi aspernatur illum minima reiciendis velit! Ducimus, reiciendis!
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, id, praesentium minima molestias consectetur corporis ad alias distinctio itaque repellendus quia esse. Totam, pariatur odio eum esse nemo explicabo enim.
                    </td>
                </tr>
                <tr>
                    <td class="t_centered">
                        <a href="{% url 'nuevo_proyecto_paso1' 1 %}">Continuar</a>
                    </td>
                    <td class="t_centered">
                        <a href="{% url 'nuevo_proyecto_paso1' 2 %}">Continuar</a>
                    </td>
                    <td class="t_centered">
                        <a href="{% url 'nuevo_proyecto_paso1' 3 %}">Continuar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</section>

{% endblock %}
