{% extends "base.html" %}
{% load static from staticfiles %}

{% block contenido %}

<section id="seccion_tipo_proyecto" class="fondo_rayado">
    <article class="fondo_celeste fondo_punteado">
        <h1>¡Tenemos opciones para todos los gustos y necesidades!</h1>
        <p>
            Elige el tipo de recaudación que mejor se ajuste a tu evento y vas a poder estar a un paso más cerca de hacer tus sueños realidad.
        </p>
    </article>

    <fieldset class="marco">
        <legend>
            <strong>Recaudación</strong>
             Descripción
            Confirmación
        </legend>
        <table>
            <thead>
                <th></th>
                <th>
                    <figure>
                        <img src="{% static 'images/todonada.png' %}" alt="imagen todo o nada" />
                    </figure>
                </th>
                <th>
                    <figure>
                        <img src="{% static 'images/todosuma.png' %}" alt="imagen todo suma" />
                    </figure>
                </th>
                <th>
                    <span style="display:inline-block;margin-bottom:0.9em">MONTO FIJO</span>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>Característica I</td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, possimus, aut, libero officiis explicabo quisquam reiciendis quidem porro excepturi quae nisi quia enim dolorum iure totam rerum odio natus aliquam.
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, cupiditate, totam. Cumque, praesentium incidunt cum quis reprehenderit aspernatur velit aut recusandae alias similique. Incidunt, repellat explicabo aliquid porro ex tempore!
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, illum perferendis recusandae obcaecati ipsum ab tempore dolorem nihil eveniet debitis animi deserunt alias! Cupiditate similique optio nulla voluptatem eaque praesentium!
                    </td>
                </tr>
                <tr>
                    <td>Característica II</td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, odio provident quod molestias est nihil nostrum iste. Rerum, quam, iure fugiat beatae repudiandae provident hic! Numquam quae amet accusamus nisi.
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ea, eligendi tempora deleniti consequuntur maiores provident repellendus dignissimos. Rem, eos eum reiciendis minima delectus consequuntur repellat natus fugiat accusamus voluptatibus?
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, beatae, vel, odit molestias consequuntur at perspiciatis dolore explicabo fuga repellat placeat autem ipsam dolorum sapiente ea doloribus obcaecati quas earum.
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="t_centered">
                        <a href="{% url 'nuevo_proyecto_paso1' 1 %}">Continuar</a>
                    </td>
                    <td class="t_centered">
                        <a href="{% url 'nuevo_proyecto_paso1' 2 %}">Continuar</a>
                    </td>
                    <td class="t_centered">
                        <a href="{% url 'nuevo_proyecto_paso1' 3 %}">Continuar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</section>

{% endblock %}
