{% load static from staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description" content="Lista de regalos por la life 1313 eaea sadsa qwertyuiop" />
    <title>{% block titulo %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster|Varela+Round|Exo+2:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <div class="menu">
            <figure class="logo" onclick="window.location.href='{% url "index" %}'">
                <img src="{% static 'images/logo.png' %}" alt="logo de juntándonos" />
            </figure>

            <div class="menu_opciones">
                <a href="javascript:;" class="link_aportar sombra_caja">QUIERO APORTAR</a>
                <a href="{% url 'registro' %}" class="link_evento sombra_caja">COMENZAR UN EVENTO</a>
                <a href="{% url 'ingresar' %}" class="link_entrar">
                    <img src="{% static 'images/entrar.png' %}" alt="imagen entrar" />
                    Entrar
                </a>
                <figure>
                    <img src="{% static 'images/que_es_juntandonos.png' %}" alt="¿ qué es juntandonos ?" />
                </figure>
            </div>
        </div>
        {% block menu %}{% endblock %}
    </header>

    {% block contenido %}NO SE HA SOBREESCRITO CONTENIDO{% endblock %}

    <footer>
        <input id="foo" type="hidden" value="{{ csrf_token }}" />
    </footer>
    <script src="{% static 'js/vendor/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/vendor/handlebars-1.1.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/template_loader.js' %}"></script>
    <script src="{% static 'js/vendor/rlay_core.js' %}"></script>
    <script src="{% static 'js/vendor/storage.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
