{% extends "base.html" %}
{% load staticfiles %}

{% block contenido %}

<section id="bg_home">

<section id="slider">
    <section id="inner_slide" class="globo_texto categorias">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </section>
</section>

</section>

<section id="proyectos" class="proyectos">
{% for proyecto in proyectos %}
    <article class="proyecto" onclick="window.location.href='{% url 'ver_proyecto' id_proyecto=proyecto.id %}'">
        {% for imagen_proyecto in proyecto.imagenproyecto_set.all %}
        <figure class="imagen_proyecto">
            <img src="{{ MEDIA_URL }}{{ imagen_proyecto.imagen }}" alt="imagen proyecto" />
        </figure>
        {% endfor %}

        <figure class="imagen_user">
            <img src="" alt="imagen user" />
        </figure>

        <p class="nombre_usuario">{{ proyecto.get_nombre_creador }}</p>
        <p class="proyecto_titulo">{{ proyecto.titulo }}</p>
        <p class="proyecto_descripcion">{{ proyecto.descripcion }}</p>
        <p class="proyecto_recaudacion">recaudó $15.000 CLP</p>
        <p class="proyecto_porcentaje">270%</p>
        <p class="proyecto_restante">9 días</p>
    </article>
{% endfor %}
</section>

{% endblock %}

{% block js %}

<script src="{% static "js/controllers/login_controller.js" %}"></script>
<script>
    App.login = new App.Controllers.Login();
</script>

{% endblock %}
