{% extends "base.html" %}
{% load staticfiles %}

{% block contenido %}

<section id="bg_home">

<section id="slider">
    <article id="inner_slide" class="globo_texto categorias">
        <h2>Slider</h2>
        {% for proyecto in proyectos %}
            <article class="proyecto iblock fondo_calipso">
                <figure>
                    <img src="{{ MEDIA_URL }}{{ proyecto.imagen }}" alt="imagen proyecto" />
                    <figcaption>{{ proyecto.titulo }}</figcaption>
                </figure>
            </article>
        {% endfor %}
    </article>
</section>

</section>

{% endblock %}

{% block js %}

<script src="{% static "js/controllers/login_controller.js" %}"></script>
<script>
    App.login = new App.Controllers.Login();
</script>

{% endblock %}
